{
  "openapi": "3.0.1",
  "info": {
    "title": "Phonely Agent API",
    "description": "API for retrieving and duplicating agent information",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.phonely.ai/api"
    }
  ],
  "paths": {
    "/get-agent": {
      "post": {
        "summary": "Get agent information",
        "description": "Retrieve agent information based on the provided user ID and agent ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/duplicate-agent": {
      "post": {
        "summary": "Duplicate an agent",
        "description": "Create a duplicate of an existing agent for the specified user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DuplicateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateAgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/get-agents": {
      "post": {
        "summary": "Get agents information",
        "description": "Retrieve information for all agents associated with the user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAgentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentInfo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AgentRequest": {
        "type": "object",
        "required": ["uid", "agentId"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "Agent ID"
          }
        }
      },
      "AgentResponse": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "Agent ID"
          },
          "name": {
            "type": "string",
            "description": "Agent name"
          },
          "country": {
            "type": "string",
            "description": "Country code",
            "nullable": true
          },
          "businessPhoneNumber": {
            "type": "string",
            "description": "Business phone number",
            "nullable": true
          }
        }
      },
      "DuplicateAgentRequest": {
        "type": "object",
        "required": ["uid", "agentId"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "Agent ID to be duplicated"
          }
        }
      },
      "DuplicateAgentResponse": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "New duplicated Agent ID"
          },
          "name": {
            "type": "string",
            "description": "New duplicated Agent name"
          }
        }
      },
      "GetAgentsRequest": {
        "type": "object",
        "required": ["uid"],
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          }
        }
      },
      "AgentInfo": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "User ID"
          },
          "agentId": {
            "type": "string",
            "description": "Agent ID"
          },
          "name": {
            "type": "string",
            "description": "Agent name"
          },
          "country": {
            "type": "string",
            "description": "Country code",
            "nullable": true
          },
          "businessPhoneNumber": {
            "type": "string",
            "description": "Business phone number",
            "nullable": true
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Authorization"
      }
    }
  }
}
